# Ignore all files and folders
/*

# Except the Foundry module essentials
!/module.json
!/mnm-3e-expanded.js
!/packs/
!/packs/**
!/README.md
!/.gitignore

# If you have images or CSS in the future, un-ignore them here
# !/assets/
# !/style.css
